name: Deploy Frontend App
on:
  workflow_dispatch:
  push:
   branches:
      - main
   paths:
      - 'apps/web/**' 

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
            version: 10
      - name: Install Vercel CLI
        run: pnpm add -g vercel@latest
      - name: Pull vercel environment information
        run: vercel pull --yes --token=${{ secrets.VERCEL_TOKEN }}
      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
